<div class="row">
  <div class="col-sm-3">
    <span>
      <strong>From:</strong> <%= event.from %>
    </span>
  </div>
  <div class="col-sm-3">
    <span>
      <strong>To:</strong> <%= event.to %>
    </span>
  </div>
  <div class="col-sm-1">
  </div>
</div>
<%= link_to "Show", mail_delivery_path(event.id) %>
<br/>
