<% event.changeset.each do |change| %>
  <div class="row">
    <div class="col-xs-3">
      <%= change.first %>
    </div>
    <div class="col-xs-3">
      <%= change.last.first || "Nothing" %>
    </div>
    <div class="col-xs-1"> =&gt; </div>
    <div class="col-xs-3">
      <%= change.last.last %>
    </div>
  </div>
<% end %>
