<div class='jumbotron'>
	<h1>KPSmart</h1>
	<h2>Making KPS Great Again</h2>
		<br>
		<% if !@loggedin%>
			<p>You aren't signed in.</p>
			<a href="users/sign_in"> Please sign in here.</a> 
		<% else %>
		    <p>You are logged in.</p>
		<% end%>		
</div>